#sct_actividades .popup-content{
    width: 90%;
}

#sct_actividades h1{
    font-size: 1.3em;
}

#sct_actividades h1>button{
    position: absolute;
    width: 100px;
    margin-left: 15px;
    right: 0px;
}