select {
    border: none;
    -webkit-appearance: none;
    height: 44px;
    width: 100%;
}
select{
    text-align: center;
}
/* Grid del documento (body) */
/* Grid del documento (body) */
/* Grid del documento (body) */

.body-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 450px 250px 1fr;
    /* En caso de tener mas de un asociar debe agregar otro 1fr*/
    grid-template-areas: 
    "body-top body-top body-top"
    "body-buscar body-buscar body-buscar"
    "asc-grid asc-grid asc-grid";
    /* En caso de tener mas de un asociar agregar ". asc-grid ." */
}
.body-top{
    grid-area: body-top;
}
.body-elegir{
    grid-area: body-buscar;
    background-color: rgba(30,33,66,0.8);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1.5fr 0.5fr 1.5fr;
    grid-template-areas:
    ". eTitle eTitle ."
    ". ep ep ."
    ". eSelect eSelect .";
}
.body-elegir-title{
    grid-area: eTitle;
    text-align: center;
}
.body-elegir-p{
    grid-area: ep;
    color: white;
    text-align: center;
}

.body-elegir-select{
    grid-area: eSelect;
    position: relative;
    background-color: #fff;
}
.body-elegir-select select{
    width: 78.5%;
    border: none;
    padding-left: 15px;
}
.body-elegir-select button{
    width: 20%;
}
.asc-grid{
    margin-bottom: 10px;
    grid-area: asc-grid;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
    ". asc-asociar .";
    /* Si hay mas asociares agregar otra fila con 300px*/

    background-image: url('../img/keys_asc.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.asc-asociar{
    grid-area: asc-asociar;
    background-color: rgba(0,0,0,0.5);
    margin: 0px 10px;
    display: grid;
    grid-template-rows: 0.7fr 0.5fr 1fr;
    grid-template-areas:
    "h2"
    "p"
    "div";
}
.asc-asociar h2{
    margin-left: 15px;
}
.asc-asociar p.asc-asociar-p{
    margin-left: 15px;
    color: white;
    width: 75%;
}
.asc-asociar-h2{
    grid-area: h2;
}
.asc-asociar-p{
    grid-area: p;
}
.asc-asociar-div{
    grid-area: div;
}
/* Grid del (body) */

/* Grid del (body-top) */
/* Grid del (body-top) */
/* Grid del (body-top) */
.body-top-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
}
#div_titulo_listar{
    position: relative;
    margin-left: 10px;
    background-image: url('../img/pencils-clips-colour-pencils-foam-rubber-159627.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#div_listar_opciones{
    padding: 0px 0px;
    margin-right: 10px;

    display: grid;
    grid-gap: 0px 30px;
    grid-template-columns: 0.7fr 1fr;
    background-color: #fff;
    border: solid 20px rgba(68, 27, 73, 0.80);

    text-align: center;
    align-items: center;
}
#div_listar_opciones a{
    color: #1E2142;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
}
#div_listar_opciones span{
    text-align: right;
    font-size: 25px;
    color: rgba(68, 27, 73);
}
/* Grid del (body-top) */

/* Grid de la parte de asociar */
/* Grid de la parte de asociar */
/* Grid de la parte de asociar */


/* Estilos para los inputs */
/* Estilos para los inputs */
/* Estilos para los inputs */
 
.formulario {
    background-color: #fff;
    margin: 10px;
    padding: 20px 0px;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
}

.formulario > div {
    width: 240px;
    margin:25px;
    height: inherit;
    padding: 25px 0px;
}
.formulario .checkbox label {
    display: block;
    cursor: pointer;
    color: rgba(30,33,66,0.8);
    position: relative;
    margin-bottom: 12px;
    padding: 10px 50px 10px 50px;
    width: 700px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.formulario .checkbox label:hover {
    background: rgba(30,33,66,0.1);
}
.formulario .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    top: 7.5px;
    border-radius: 50%;
    background: none;
    border: 3px solid rgba(30,33,66,0.8);
}
.formulario .checkbox label:before {
    border-radius: 5px; 
}
.formulario .checkbox input[type="checkbox"] {
    display: none; 
}
.formulario .checkbox input[type="checkbox"]:checked + label:before {
    display: none; 
}
.formulario .checkbox input[type="checkbox"]:checked + label {
    background: rgba(30,33,66,0.8);
    color: #fff;
    padding: 10px;
}
.formulario label, .formulario input{
    width: 80%;
}